<div [hidden]="submitted">
  <h3>Place an order</h3>
  <p>Order your pizza here.</p>
  <div class="well">
    <form (ngSubmit)="onSubmit()" #orderForm="ngForm">
      <div class="form-group">
        <label for="topping">Topping</label>
        <select class="form-control" id="topping" required [(ngModel)]="model.topping" name="topping" #topping="ngModel">
          <option *ngFor="let topping of toppings" [value]="topping">{{topping}}</option>
        </select>
        <div [hidden]="topping.valid || topping.pristine" class="alert alert-danger">
          Topping is required
        </div>
      </div>
      <div class="form-group">
        <label for="crust">Crust</label>
        <select class="form-control" id="crust" required [(ngModel)]="model.crust" name="crust" #crust="ngModel">
          <option *ngFor="let crust of crusts" [value]="crust">{{crust}}</option>
        </select>
        <div [hidden]="crust.valid || crust.pristine" class="alert alert-danger">
          Crust is required
        </div>
      </div>
      <div class="form-group">
        <label for="extras">Extras</label>
        <input type="text" class="form-control" id="extras" [(ngModel)]="model.extras" name="extras">
      </div>
      <button type="submit" class="btn btn-success" [disabled]="!orderForm.form.valid">Submit</button>
      <button type="button" class="btn btn-default" (click)="newOrder(); orderForm.reset()">New Order</button>
    </form>
  </div>
</div>
<div [hidden]="!submitted">
  <h3>Thank you</h3>
  <p>You ordered the following:</p>
  <div class="well">
    <div class="row">
      <div class="col-xs-3">Topping</div>
      <div class="col-xs-9  pull-left">{{ model.topping }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Crust</div>
      <div class="col-xs-9 pull-left">{{ model.crust }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Extras</div>
      <div class="col-xs-9 pull-left">{{ model.extras }}</div>
    </div>
    <br>
    <button class="btn btn-primary" (click)="submitted=false">Edit</button>
  </div>
</div>